/**
 * Enviroment
 * 
 * Variables that define default values of 
 * styles and other things.
 */


/**
 * Inputs and Textareas
 */

$inputs-default-style : true;

/**
 * Buttons
 */

$buttons-default-style : true;

/**
 * Grid with Flexbox or float
 * options: flexbox and float;
 */

$grid-system : flexbox;

/**
 * Flexbox
 */




