//
//	Select color
//

@mixin button-full($color, $hover){
	
	background-color: $color;
	color: #FFF;
	border: none;
	border-radius: 5px;
	transition: all .3s;
	&:hover{
		background-color: $hover;
	}
}

@mixin button-border($color){
	background-color: transparent;
	color: $color;
	border: 2px solid $color;
	border-radius: 5px;
	transition: all .3s;
	&:hover{
		background-color: $color;
		color: #FFF;
	}
}

@mixin button-bottom($color, $border){
	background-color: $color;
	color: #FFF;
	border: none;
	border-radius: 5px;
	transition: all .3s;
	border-bottom: 4px solid $border;
	&:hover{
		background-color: $border;
	}
}
//button size
@mixin button-size($sizes){
	@each $name, $size in $sizes{
		&.#{$name}-button{
			padding: $size;
		}
	}
}