//
//	Colores
//
//
//	Paleta de colores (son usados para los botones)
//
	//rojo
	$red 		: #DB2828;
	$red-hover 	: #B52121;
	//blue
	$blue 		: #1678c2;
	$blue-hover : #1365A3;
	//green
	$green 		: #21BA45;
	$green-hover: #138C2F;
	//black
	$black		: #1B1C1D;
	$black-hover: #27292a;
	//orange
	$orange		: #F2711C;
	$orange-hover: #CB6019;

	