/*
*	Variables generales
*/

//fuentes
$fuente-general: Open Sans;

//fuente de títulos
$h1-font: Open Sans;
$h2-font: Open Sans;
$h3-font: Open Sans;
$h4-font: Open Sans;
$h5-font: Open Sans;
$h6-font: Open Sans;

/*
*	En caso de que quisieras una fuente adicional para los parrafos, links, botones
*	inputs agrega el valor, de lo contrario deja un valor vacío
*/
$p-font: '';
$a-font: '';
$input-font: Source Sans Pro;
$button-font: '';

//size text general
$body-font-size: 1rem;

//size text
$h1-size: 3rem;
$h2-size: 2.5rem;
$h3-size: 2rem;
$h4-size: 1.8rem;
$h5-size: 1.5rem;
$h6-size: 1.2rem;
/*
*	En caso de que quisieras un tamaño adicional para los parrafos y links
*	agrega el valor, de lo contrario deja un valor vacío
*/
$p-size: '';
$a-size: '';

/*
*	Valores de los espacios
*/

$l-space : 6.5rem;
$m-space : 5rem;
$s-space : 3.5rem;
$li-space : 2rem;

