/*
*	Variables generales
*/

//fuentes
$fuente-general: Open Sans;

//fuente de títulos
$h1-font: Open Sans;
$h2-font: Open Sans;
$h3-font: Open Sans;
$h4-font: Open Sans;
$h5-font: Open Sans;
$h6-font: Open Sans;

/*
*	En caso de que quisieras una fuente adicional para los parrafos, links, botones
*	inputs agrega el valor, de lo contrario deja un valor vacío
*/
$p-font: '';
$a-font: '';
$input-font: Source Sans Pro;
$button-font: '';

//size text general
$body-font-size: 1rem;

//size text
$h1-size: 3rem;
$h2-size: 2.5rem;
$h3-size: 2rem;
$h4-size: 1.8rem;
$h5-size: 1.5rem;
$h6-size: 1.2rem;
/*
*	En caso de que quisieras un tamaño adicional para los parrafos y links
*	agrega el valor, de lo contrario deja un valor vacío
*/
$p-size: '';
$a-size: '';

/*
*	Datos del grid
*/

//grid container size
$max-width: 1100px;

//padding entre las columnas
$padding: 1%;

	/*
		Breackpoints
		- Si quieres cambiar los valores de los prefijos, solo cambia el primero valor de array
		Por ejemplo:
			$breackpoints:(little : 480px);
			Por:
			$breackpoints:(chiquito : 480px);

		- Si quieres agregar una medida custom (una medida más agregada por tí) solamente tienes que añadir los valores dentro de la variable $custom-breackpoint;
		Por ejemplo:
			$custom-breackpoint:(
				mivalor : 1000px;
			);
	*/
		$breackpoints: (
			little : 480px,
			small  : 768px,
			medium : 998px,
			large  : 1200px
		);
		//custom breackpoints
		$custom-breackpoint: (

		);


/*
*	Valores de los espacios
*/

$l-space : 6.5rem;
$m-space : 5rem;
$s-space : 3.5rem;
$li-space : 2rem;

/*
	Máxima cantidad de columnas en un formulario
*/

$form-column : 4;

/*
	Paleta de colores (son usados para los botones)
*/
	//rojo
	$red 		: #DB2828;
	$red-hover 	: #B52121;
	//blue
	$blue 		: #1678c2;
	$blue-hover : #1365A3;
	//green
	$green 		: #21BA45;
	$green-hover: #138C2F;
	//black
	$black		: #1B1C1D;
	$black-hover: #27292a;
	//orange
	$orange		: #F2711C;
	$orange-hover: #CB6019;

/*
	Menús
*/

	//Altura de los menús
	$menu-height: 60px;
	