
/*
*	Menus
*/

.simple-nav {
	@include format-navs;
	display: flex;
	flex-wrap: nowrap;
	margin: 15px 0;
	
	li{
		margin-right: 5px;

		a{
			color: $menu-font-color;
			padding: 8px 15px;
			display: block;
			border-radius: 4px;
			transition: all .3s;

			&:hover, &.active {
				background-color: rgba($gray-color, .5);
			}

		}	
	}

	&.right {
		justify-content: flex-end;
	}

	&.vertical {
		flex-direction: column;

		li {
			margin-right: 0;
			margin-bottom: 5px;
		}
	}

	&.black {
		li a {
			&:hover, &.active {
				background-color: rgba($black-color, .9);
				color: #FFF;
			}
		}
	}

	&.blue {
		li a {
			&:hover, &.active {
				background-color: rgba($blue-color, .9);
				color: #FFF;
			}
		}
	}
}

//datools nav
.datools-nav {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	height: $menu-height;
	background-color: $gray-color;
	border: 1px solid #f0f0f0;

	.datools-nav__brand {
		height: $menu-height;
		display: flex;
		align-items: center;

		a{
			font-size: $menu-brand-font-size;
			font-weight: 700;
			color: $menu-font-color;
		}
	}

	.datools-nav__options {

		&>ul {
			@include format-navs;
			display: flex;
			flex-wrap: nowrap;
			align-items: center;
			height: $menu-height;

			li {
				margin-left: 5px;
				a {
					color: $menu-font-color;
					display: block;
					transition: all .3s;
					padding: 0 15px;
				}
			}

		}

	}

}